html,
body {
  background-color: antiquewhite;
  width: 1300px;
  margin: auto;
}

h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  color: blue;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

p {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
}

a {
  color: red;
}
